.cell {
    width: 25px;
    line-height: 32px;
    font-family: Arial, serif;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 15px;
    color: #333333;
    margin-right: 2px;
    margin-left: 2px;
}

.cell_gray {
    background-color: #f0f0f0;
}
